/* MOBILE STYLES ------------------------------------------------------------*/
nav {
  .navbar {
  }
}

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: $screen-sm-min) {
}
/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-md-min) {
}
/* Large devices (large desktops, 992px and up) */
@media (min-width: $screen-lg-min) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-xl-min) {
}
